*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header,
footer {
  display: grid;
  background-color: $dark-color;
  color: $ligth-color;
  text-align: center;
  padding: $padding-margin-lg;
}
main {
  padding: $padding-margin-lg;

  section {
    height: 100vh;
  }
}
.sidebar {
  display: none;
}
.sidebar.sidebar-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /* Puedes ajustar el ancho */
  height: 100%;
  background-color: #444;
  color: #fff;
  padding: 1rem;
  z-index: 10;
}

#menu-toggle {
  display: block;
  background: none;
  border: none;
  color: $ligth-color;
  font-size: $font-mobile-size-lg;
  justify-self: end;
}
