*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  overflow-y: auto;
  -webkit-overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
h1 {
  font-size: $font-mobile-size-xxl;
}
h2 {
  font-size: $font-mobile-size-xl;
}
h3 {
  font-size: $font-mobile-size-lg;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: $padding-margin-md;
}
h4 {
  font-size: $font-mobile-size-md;
}
p,
th,
td,
label,
button {
  font-size: $font-mobile-size-sm;
}

header {
  top: 0;
  height: 20vh;
}
header,
footer {
  display: grid;
  position: fixed;
  width: 100%;
  background: $background-color;
  color: $ligth-color-1;
  text-align: center;
  padding: $padding-margin-lg;
  z-index: 100;
}
footer {
  bottom: 0;
  height: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20vh;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-overflow-y: auto;
  height: 70vh;
}
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: $dark-color;
  color: $ligth-color-1;
  padding: 1rem;
  z-index: 200;
  a {
    color: $ligth-color-1;
    text-decoration: none;
    font-size: $font-mobile-size-lg;
  }
}
.sidebar.sidebar-active {
  display: block;
}

#menu-toggle {
  display: block;
  background: none;
  border: none;
  color: $ligth-color-1;
  font-size: $font-mobile-size-sm;
  justify-self: end;
}

.main-section {
  flex: 0 0 auto;
  height: auto;
  min-height: 70vh;
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
  padding: 3rem $lateral-padding-md;
  margin: 3rem 0;
  overflow-y: auto;
}
div {
  margin-top: $padding-margin-md;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: $padding-margin-md;
  width: 100%;
  height: auto;
  padding-bottom: $padding-margin-md;
}
.products-container,
.reports-container {
  padding-bottom: 10vh;
}

.chart-container {
  width: 100%;
  height: auto;
  max-height: 50vh;
}
.reports-container {
  height: 80%;
}
.featured-reports {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

input,
select {
  padding: 0.8vw;
  border-radius: 5px;
  border: 1px solid $ligth-color-2;
  width: 100%;
}
select,
option {
  max-width: 100%;
  padding: 0.2vw;
  white-space: normal;
}

button {
  background-color: $secondary-color;
  color: white;
  padding: 1vw 1.5vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: $background-color;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  th,
  td {
    max-width: 100%;
    word-wrap: break-word;
    padding: 1vw;
    text-align: left;
    border-bottom: 1px solid $ligth-color-2;
  }

  th {
    background-color: $ligth-color-2;
  }

  tr:nth-child(even) {
    background-color: $ligth-color-1;
  }
}
