*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: $font-mobile-size-xxl;
}
h2 {
  font-size: $font-mobile-size-xl;
}
h3 {
  font-size: $font-mobile-size-lg;
}
h4 {
  font-size: $font-mobile-size-md;
}
p,
tr,
label {
  font-size: $font-mobile-size-sm;
}

body {
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 14rem;
}
header,
footer {
  display: grid;
  background-color: $dark-color;
  color: $ligth-color;
  text-align: center;
  padding: $padding-margin-lg;
}
footer {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
}

main {
  position: relative;
  top: 14rem;
  display: flex;
  flex-direction: column;

  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: calc(100vh - 14rem - 5rem);
}
.sidebar {
  display: none;
  a {
    color: $ligth-color;
    text-decoration: none;
    font-size: $font-mobile-size-lg;
  }
}
.sidebar.sidebar-active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: $dark-color;
  color: $ligth-color;
  padding: 1rem;
  z-index: 10;
}

#menu-toggle {
  display: block;
  background: none;
  border: none;
  color: $ligth-color;
  font-size: $font-mobile-size-lg;
  justify-self: end;
}

.p-m {
  padding: $padding-margin-lg;
}

.main-section {
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
  overflow-y: auto;
}
