@media (min-width: 768px) {
  h1 {
    font-size: $font-tablet-size-xxl;
  }
  h2 {
    font-size: $font-tablet-size-xl;
  }
  h3 {
    font-size: $font-tablet-size-lg;
  }
  h4 {
    font-size: $font-tablet-size-md;
  }
  p,
  tr,
  label {
    font-size: $font-tablet-size-sm;
  }
  .resume-container,
  .products-container,
  .reports-container {
    grid-template-columns: 1fr 1fr;
  }
  .sales-container {
    grid-template-columns: 3fr 2fr;
    align-items: start;
  }
  .sales-register {
    gap: 20px;
    height: auto;
    grid-column: 2 / 3;
  }
  .sales-history {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: $font-desktop-size-xxl;
  }
  h2 {
    font-size: $font-desktop-size-xl;
  }
  h3 {
    font-size: $font-desktop-size-lg;
  }
  h4 {
    font-size: $font-desktop-size-md;
  }
  p,
  tr,
  label {
    font-size: $font-desktop-size-sm;
  }
  main {
    width: 80%;
    right: 0;
    position: fixed;
  }
  .sidebar,
  .sidebar.sidebar-active {
    display: block;
    position: fixed;
    top: 20vh;
    left: 0;
    padding: 1rem;
    height: 70vh;
    width: 20%;
    background-color: $dark-color;
    a {
      font-size: $font-tablet-size-lg;
    }
  }

  #menu-toggle {
    display: none;
  }
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
